DB_HOST=localhost
DB_PORT=3306
DB_USER=root
DB_PASS=Admin@123
DB_NAME=next_39t_web

BETTER_AUTH_SECRET=verysecret
BETTER_AUTH_URL=http://localhost:3000

ADMIN_EMAIL=admin@example.com
ADMIN_PASSWORD=Admin@123

NEXT_PUBLIC_CLOUDINARY_CLOUD_NAME=your_cloud_name
CLOUDINARY_API_KEY=1234567890
CLOUDINARY_API_SECRET=your_api_secret